.episode {
  position: relative;
  display: flex;

  @each $currentColor in $colorsList {
    $i: index($colorsList, $currentColor);
    &:nth-child(#{$i}) {
      .episode__media:after {
        background-color: rgba($currentColor, .2);
      }
    }
  }

  &:hover {
    .episode__detail:before {
      width: 100%;
    }
  }
}

.episode__number {
  display: none;
  position: absolute;
  top: -2rem;
  left: -1.5rem;
  z-index: 1;
  font-size: 3rem;
  margin: 0;
  color: $purple;
}

.episode__image__container {
  position: relative;
  /*background-size: cover;
  background-position: center;*/
  display: block;
  width: 100%;
  height: 100%;
  background-color: $white;
  transition: all .1s ease-in-out;
}

.episode__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  filter: grayscale(100%);
  opacity: .5;
  transition-property: filter, opacity;
  transition-duration: .6s;
  transition-timing-function: ease-in-out;
}

.episode__media {
  position: relative;
  width: 30%;
  transition: .2s ease-out;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: opacity .3s ease-in-out;
  }
  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: '';
    background-image: url($imagesPath+'/pixel-corner.svg');
    width: 50px;
    height: 50px;
    background-size: cover;
  }
  &:hover {
    transform-origin: 0 50%;
    transform: perspective(1000px) rotateY(-10deg) translate3d(-3px,0,0);

    &:after {
      opacity: 0;
      transition: opacity .3s ease-in-out;
    }

    .episode__image {
      filter: grayscale(0);
      opacity: 1;
      transition-property: filter, opacity;
      transition-duration: .6s;
      transition-timing-function: ease-in-out;
    }
  }
}

.episode__detail {
  width: 70%;
  padding: 0 1rem;
  position: relative;
  transition: width .3s ease-in-out;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    content: '';
    background-color: $lightGray;
    z-index: -1;
  }
}

.episode__title {
  &:hover {
    text-decoration: none;
  }
  
  h4{
    font-size: 1.6rem;
    margin: 1rem 0 .3rem 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: $gray;
    transition: color .3s ease-in-out;
    &:hover {
      color: $purple;
      transition: color .3s ease-in-out;
    }
  }
}

.episode__description {
  margin-top: 0;
  font-size: 1.1rem;
  font-weight: 100;
  color: $bodyText;
}